body{
    background-color: rgb(31, 31, 126);
    color: white;
    padding: 30px 10%;
}



.image-style {
    max-height: 300px;
    border: 3px solid #ffffff;
    border-radius: 40px;
}

.gallery-container {
    position: relative; 
    width: 100%;
    margin: 20px 0;
}

.image-wrapper {
    overflow-x: hidden; 
    padding: 10px 0; 
    white-space: nowrap; 
}


.image-wrapper img {
    display: inline-block; 
    height: 500px; 
    margin-right: 10px; 
    border: 3px solid #ffffff;
    border-radius: 40px;
}

/* Стили для кнопок */
.scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    padding: 30px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    color: rgb(31, 31, 126);
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 1;
    border: 3px solid rgb(31, 31, 126);
    border-radius: 10px;
}

.left {
    left: 0;
}

.right {
    right: 0;
}

.compozition{
    display: flex;
}

.data{
    margin: 50px 50px;
}